In [82]:
# read data
import matplotlib.pyplot as plt
import matplotlib.dates as dt
import pandas as pd



# read in data, drop any empty columns that were accidentally included
B = pd.read_csv('Sleep_Study_Dec2020.xlsx - Bozie.csv').dropna(axis="columns", how='all') 
R = pd.read_csv('Sleep_Study_Dec2020.xlsx - Rani.csv').dropna(axis="columns", how='all')
P = pd.read_csv('Sleep_Study_Dec2020.xlsx - Spike.csv').dropna(axis="columns", how='all')
K = pd.read_csv('Sleep_Study_Dec2020.xlsx - Kamala.csv').dropna(axis="columns", how='all')
W = pd.read_csv('Sleep_Study_Dec2020.xlsx - Swarna.csv').dropna(axis="columns", how='all')

B = B.fillna('')

#generate dates included in study
dates = pd.date_range(start="2020-12-21",end="2021-02-28")

In [83]:
# change duration datatype
B["Duration"] = pd.to_timedelta(B["Duration"])
R["Duration"] = pd.to_timedelta(R["Duration"])
P["Duration"] = pd.to_timedelta(P["Duration"])
K["Duration"] = pd.to_timedelta(K["Duration"])
W["Duration"] = pd.to_timedelta(W["Duration"])

In [84]:
# get only periods of recumbency
B_down = B[B["Rest/Recumbent"] == "Recumbent"]
R_down = R[R["Rest/Recumbent"] == "Recumbent"]
P_down = P[P["Rest/Recumbent"] == "Recumbent"]
K_down = K[K["Rest/Recumbent"] == "Recumbent"]
W_down = W[W["Rest/Recumbent"] == "Recumbent"]

In [85]:
W_down

,Date,Rest/Recumbent,Start Time,Stop Time,Duration,Location,Conspecifics,Elephant Access
12,12/22/20,Recumbent,22:52:14,0:36:51,0 days 01:44:37,5,NaN,NaN
13,12/22/20,Recumbent,0:38:52,2:39:50,0 days 02:00:58,5,NaN,NaN
14,12/22/20,Recumbent,2:44:11,3:56:08,0 days 01:11:57,5,NaN,NaN
15,12/22/20,Recumbent,4:03:03,4:57:17,0 days 00:54:14,4,NaN,NaN
62,12/28/20,Recumbent,1:13:11,3:02:23,0 days 01:49:12,5,NaN,NaN
64,12/28/20,Recumbent,3:28:41,5:05:27,0 days 01:36:46,5,NaN,stepped on by bozie:(
70,12/29/20,Recumbent,0:43:10,0:52:10,0 days 00:09:00,1,R,NaN
72,12/29/20,Recumbent,1:34:32,1:42:41,0 days 00:08:09,1,R,NaN
74,12/29/20,Recumbent,2:33:29,3:36:48,0 days 01:03:19,1,R,NaN
79,12/30/20,Recumbent,0:54:03,2:35:25,0 days 01:41:22,E,NaN,NaN
81,12/30/20,Recumbent,3:29:40,4:46:04,0 days 01:16:24,E,NaN,NaN

In [87]:
W_down.groupby("Location").sum()["Duration"]

Location
1   0 days 01:20:28
4   0 days 00:54:14
5   0 days 08:23:30
E   0 days 02:57:46
Name: Duration, dtype: timedelta64[ns]

In [88]:
W_down["Location"].value_counts()

5    5
1    3
E    2
4    1
Name: Location, dtype: int64

In [92]:
W_down.groupby("Location").sum()["Conspecifics"]

Location
1    RRR
4      0
5      0
E      0
Name: Conspecifics, dtype: object